main {
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 1.5fr;
    column-gap: 80px;
}

img {
    max-width: 95%;
}
.img-center { 
    display:block;
    margin:auto;
}

ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-size-adjust: 15px;
    line-height: 35px;
    font-size: 24px;
}

a {font-family: 'Roboto Mono', monospace;
    color: honeydew;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    color:rgb(218, 61, 61);
  }
  
  a:active {
    text-decoration: none;
  }

  body {
    background-color: rgb(61, 60, 60);
}

h1 {
    font-family: 'Noto Sans Mono', monospace;
    padding: 20px;
    text-align: center;
    color: #f7f7f7;
}

p {
    grid-column: 2 / span 1;
    font-family: 'Roboto Mono', monospace;
    color: honeydew;
    display: inline;
}

h3 {
    grid-column: 2 / span 1;
    font-family: 'Roboto Mono', monospace;
    color: honeydew;
    font-size: 22px;
}

div {
    grid-column: 2 / span 2;
    font-family: 'Roboto Mono', monospace;
    color: honeydew;
    margin-right: 3.6cm;
}

figcaption {
    font-family: 'Roboto Mono', monospace;
    color: honeydew;
    font-style: italic;
    font-size: 11px;
    text-align: center;
    padding: 5px;
}

h4 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: rgb(179, 179, 179);
    font-size: 13px;
}

footer {
      
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}

.link {
  color: rgb(179, 179, 179);
  font-family: 'Roboto Mono', monospace;
  display: inline;
  padding: 9px;
}

u {
    color: honeydew;
}

ul.navigation {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    line-height: 35px;
    font-size: 25px;
}